:root {
    --black: #000;
    --white: #fff;
}

* {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}


.header {
    background: #000;
    position: fixed;
    height: 10rem;
    width:100%;
    z-index: 1000;
    padding:1.5rem;
    display: flex;
    justify-content: space-between;

    &__logo-link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        display: block;
        width: 20rem;
    }

    &__logo {
        display: block;
        width: 20rem;
        transition: transform .3s;

        &.shrink {
            transform: scale(0.75) translateY(-3rem);
        }
    }

    &__left, 
    &__right {
        display: flex;
        align-items: center;
    }

    &__right {
        justify-content: flex-end;
    }

    &__sm-links {
        display: flex;
    }

}

.nav {
    &__list {
        display:flex;
        list-style: none;
        list-style-type: inside;
        align-items: center;
        gap: 2.5rem;
    }

    &__item {
        display: block;

        a,
        a:link,
        a:visited {
            text-decoration: none;
            color: #eee;
            font-size: 1.8rem;
            transition: color .3s;

            &:hover {
                color: #ccc;
            }

            &.internal-btn {
                border: 1px solid #eee;
                padding: .8rem 1rem;
                font-size: 1.6rem;
            }
        }
    }
}

.menu-btn {
    display:none;
    padding: .8rem;
    border:none;
    background: transparent;
    cursor: pointer;

    &__hamburger-line {
        background: #ccc;
        height: 3px;
        width: 3rem;
        margin: .5rem;
        transition: all .3s;
        pointer-events: none;
    }


    &.open &__hamburger-line {

        &--1 {
            transform: rotate(50deg) translateY(14px);
        }

        &--2 {
            opacity: 0;
        }

        &--3 {
            transform: rotate(-50deg) translateY(-13px) translateX(-1px);
        }
    }
}

.hero {
    height: 80vh;
    max-height: 120rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

    }

    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        background: rgba(0,0,0,.27);
        position: absolute;
        left:0;
        top:0;
        z-index: 3;
    }

    &__content {
        z-index: 5;
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        user-select: none;

        h2 {
            font-size: 4rem;
        }

        p {
            margin-top: 2rem;
            font-size: 4rem;
            line-height: 1;
            font-weight: bold;
            min-width: 30rem;
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
            background: rgba(255,255,255,.5);
            backdrop-filter: blur(5px);
            box-shadow: 0 0 2rem #000;
        }
    }
}

.link-btn,
.link-btn:link,
.link-btn:visited {

    display: inline-block;
    margin: .7rem;
    text-decoration: none;

    img {
        width: 3rem;
    }

}

.about {
    background: #141414;
    padding: 5rem 2rem;
    user-select: none;

    h2{
        color: #259689;
        font-size: 2.5rem;
        text-align: center;
        padding: 1rem;
        max-width: 50rem;
        margin: 0 auto;
        border-left: 1px solid var(--white);
    }

    p {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
        max-width: 70%;
        margin:0 auto;
        padding: 5rem 0;
    }
}

.skills {
    background: #30656e;


    h2 {
        font-size: 3rem;
        color: var(--white);
        text-align: center;
        color: #eee;
        line-height: 1;
        user-select: none;
        background: #183b44;
        clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 7rem) calc(100% - 4.2rem), 7rem calc(100% - 4.2rem), 0 100%); 
        padding:3rem 0 6rem 0;
    }

    h3 {
        font-size: 1.6rem;
        color: var(--white);
        text-align: center;
        user-select: none;
        margin-top: -4.7rem;
        background: #265461;
        padding: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__logo-container {
        padding: 5rem 2rem 8rem 2rem;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        max-width:100rem;
        margin:4rem auto;
        padding:1rem;
        column-gap: 3rem;
        row-gap: 3rem;
    }
}

.skill-logo{
    height:14rem;
    display:block;
}

.skill-tile {
    height: 20rem;
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__logo {
        display: block;
        height: 13rem;
        width: auto;
        pointer-events: none;

        &--small {
            height: 4rem;
        }
    }

    &__overlay {
        position:absolute;
        z-index: 3;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.78);
        backdrop-filter: blur(10px);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
        opacity: 0;
        transition: opacity .6s;
        padding: .8rem;
        border: 1px solid rgba(170, 170, 170, .7);

        h4 {
            color: var(--white);
            font-size: 1.6rem;
            user-select: none;
        }

        p {
            color: var(--white);
            font-size: 1.2rem;
            user-select: none;
            text-align: center;
        }
    }

    &:hover &__overlay {
        opacity: 1;
    }
}

.footer {
    background: var(--black);
    padding: 4rem 0;
    color: var(--white);
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 0 0 .5rem rgba(0,0,0,.5);
    margin-top: -4rem;

    p{
        margin-top: 2rem;
        user-select: none;
    }
}

.portfolio-page {
    min-height: 85vh;
    background: #141414;
    padding: 2rem 2rem 8rem 2rem;
}

.portfolio-items {
    max-width: 120rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: 24rem;
}

.portfolio-item-tile {
    width: 20rem;
    height: 20rem;
    flex-shrink: 0;
    display: block;

    &__image {
        display: block;
        width: 20rem;
        height: 15rem;
        object-fit: cover;
    }

    &__title {
        text-decoration: none;
        background: #000;
        color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        font-weight: bold;
        height: 5rem;
    }
}

@media (max-width: 824px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        z-index: 2000;
        height: auto;

        &__left {
            padding: 1.1rem;
            background: #000;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin:0;
        }

        &__right {
            height:0;
            overflow: hidden;
            background: #181818;
            width: 100%;
            justify-content: center;
            transition: all .3s;

            &.open {
                height: 40rem;
                padding: 5rem 2rem 4rem 2rem;
            }
        }

         &__sm-links {
            flex-direction: column;
           
        }
    }

    .nav {
        &__list {
            flex-direction: column;
            align-items:center;
            row-gap: 3rem;
        }

        &__item {
            margin:0;
            a,
            a:link,
            a:visited  {
                margin: 0;

                &.internal-btn {
                    border:none;
                    font-size: 1.8rem;
                }
            
            }
        }
    }

    .menu-btn {
        display: block;
    }

    
}


@media (max-width: 500px) {

    .header {

        &__logo-link {
            width: 15rem;
        }

        &__logo {
            width: 15rem;
            transition: transform .3s;

            &.shrink {
                transform: scale(0.65) translateY(-2rem);
            }
        }

        &__right {
            &.open {
                height: 28rem;
                padding: 5rem 2rem 4rem 2rem;
            }
        }

    }

    .skills {
        &__logo-container {
            flex-direction: column;
        }
    }

    .portfolio-items {
        margin-top: 15rem;
    }

}