:root {
    --black: #000;
    --white: #fff;
}

* {
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    background: #000;
    position: fixed;
    height: 10rem;
    width:100%;
    z-index: 1000;
    padding:0 1.5rem;
    display: flex;
    justify-content: space-between;

    &__logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
        display: block;
        width: 20rem;
    }

    &__left, 
    &__right {
        display: flex;
    }

    &__right {
        justify-content: flex-end;
        align-items: center;
    }
}

.hero {
    height: 80vh;
    max-height: 120rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;

    }

    &::before {
        content: "";
        width: 100vw;
        height: 100%;
        background: rgba(0,0,0,.27);
        position: absolute;
        left:0;
        top:0;
        z-index: 3;
    }

    &__content {
        z-index: 5;
        color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;

        h2 {
            font-size: 4rem;
        }

        p {
            margin-top: 2rem;
            font-size: 4rem;
            line-height: 1;
            font-weight: bold;
            min-width: 30rem;
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
            background: rgba(255,255,255,.5);
            backdrop-filter: blur(5px);
            box-shadow: 0 0 2rem #000;
        }
    }
}

.link-btn,
.link-btn:link,
.link-btn:visited {

    display: inline-block;
    margin: .7rem;
    text-decoration: none;

    img {
        width: 3rem;
    }

}

.internal-btn,
.internal-btn:link,
.internal-btn:visited {
    display: inline-block;
    padding: .8rem 1rem;
    font-size: 1.6rem;
    font-family: inherit;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: .5rem;
}


@media (max-width: 500px) {

    .header {

        &__logo {
            width: 15rem;
            transform: translateX(-2rem);
        }

        &__left {
            flex-direction: column;
        }

    }

}