<header class="header">
    <a class="header__logo-link" href="/">
        <img class="header__logo" src="/assets/hayden_logo.png" alt="Logo" />
    </a>
    <div class="header__left">
        <div class="header__sm-links">
            <a class="link-btn" href="https://www.linkedin.com/in/hayden-bradfield-56883622a">
                <img src="/assets/icons/linkedin.svg" alt="LinkedIn">
            </a>
            <a class="link-btn" href="https://www.github.com/hjb1694">
                <img src="/assets/icons/github.svg" alt="LinkedIn">
            </a>
        </div>
        <button class="menu-btn">
            <div class="menu-btn__hamburger-line menu-btn__hamburger-line--1"></div>
            <div class="menu-btn__hamburger-line menu-btn__hamburger-line--2"></div>
            <div class="menu-btn__hamburger-line menu-btn__hamburger-line--3"></div>
        </button>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/portfolio">Portfolio</a></li>
                <li class="nav__item"><a href="#">Services</a></li>
                <li class="nav__item"><a href="/resume" target="_blank">Résumé</a></li>
            </ul>
        </nav>
    </div>
</header>