<section class="about">
    <h2>Passionate, Dedicated, Talented</h2>
    <p>
        ...These are the words I would use to describe myself. I am sure my colleagues would agree. I strive to be a well-rounded developer and a valuable asset to any company or individual desiring software or web development solutions. With my professional experience, I can tackle many challenges and produce results that meet or exceed expectations.
    </p>
</section>