<section class="hero">
    <img class="hero__image" src="/assets/coding_space.jpg" alt="Hero Image" />
    <div class="hero__content">
        <h2>In pursuit of...</h2>
        <p><!-- Dynamic Word --></p>
    </div>
</section>