<section class="skills">
    <div class="skills__heading">
        <h2>My Skills</h2>
        <h3>at a glance</h3>
    </div>
    <div class="skills__logo-container">
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/ts_logo.png" alt="Typescript logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/ts_logo.png" alt="Typescript logo small size" />
                <h4>TypeScript</h4>
                <p>a scripting language with type safety, transpiles to JS</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/js_logo.png" alt="Typescript logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/js_logo.png" alt="Javascript logo small size" />
                <h4>JavaScript</h4>
                <p>a scripting language for the web</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/vue_logo.png" alt="Vue logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/vue_logo.png" alt="Vue logo small size" />
                <h4>Vue</h4>
                <p>a popular, progressive framework</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/nuxt_logo.png" alt="Nuxt logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/nuxt_logo.png" alt="Nuxt logo small size" />
                <h4>Nuxt</h4>
                <p>a Vue-based framework</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/vite_logo.png" alt="Vite logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/vite_logo.png" alt="Vite logo small size" />
                <h4>Vite</h4>
                <p>a fast build tool</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/html_logo.png" alt="HTML logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/html_logo.png" alt="HTML logo small size" />
                <h4>HTML</h4>
                <p>a language that gives content & structure to webpages</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/css_logo.png" alt="CSS logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/css_logo.png" alt="CSS logo small size" />
                <h4>CSS</h4>
                <p>a language used to style webpages</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/node_js_logo.png" alt="NodeJS logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/node_js_logo.png" alt="NodeJS logo small size" />
                <h4>NodeJS</h4>
                <p>a JavaScript runtime to run scripts, tools, and servers</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/hono_logo.png" alt="Hono logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/hono_logo.png" alt="Hono logo small size" />
                <h4>Hono</h4>
                <p>a JS/TS library for building apps</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/postgres_logo.png" alt="Postgres logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/postgres_logo.png" alt="Postgres logo small size" />
                <h4>Postgres</h4>
                <p>a relational database solution</p>
            </div>
        </div>
        <div class="skill-tile" data-aos="zoom-in-up">
            <img class="skill-tile__logo" src="/assets/skill_logos/sass_logo.png" alt="Sass logo" data-aos="zoom-in-up" />
            <div class="skill-tile__overlay">
                <img class="skill-tile__logo--small" src="/assets/skill_logos/sass_logo.png" alt="Sass logo small size" />
                <h4>Sass/SCSS</h4>
                <p>a CSS preprocessor and language</p>
            </div>
        </div>
    </div>
</section>