{% extends './partials/page.partial.twig' %}
{% block head %}
    {% from './partials/head.macro.twig' import head_macro %}
    {{ head_macro('Hayden Bradfield - Portfolio', 'https://haydenbradfield.com/portfolio') }}
{% endblock head %}
{% block body %}
    <div class="portfolio-page">
        <section class="portfolio-items">
            <a class="portfolio-item-tile" href="https://bmjstone.com">
                <img class="portfolio-item-tile__image" src="/assets/img/bmj_stone_snapshot.png" alt="Snapshot of BMJ Stone" />
                <div class="portfolio-item-tile__title">BMJ Stone</div>
            </a>
            <a class="portfolio-item-tile" href="https://selahcustomdesigns.com">
                <img class="portfolio-item-tile__image" src="/assets/img/selah_designs_snapshot.png" alt="Snapshot of Selah Custom Designs" />
                <div class="portfolio-item-tile__title">Selah Custom Designs</div>
            </a>
            <a class="portfolio-item-tile" href="https://mjmconsultingtn.com">
                <img class="portfolio-item-tile__image" src="/assets/img/mjm_consulting_snapshot.png" alt="Snapshot of MJM Consulting" />
                <div class="portfolio-item-tile__title">MJM Consulting TN</div>
            </a>
             <a class="portfolio-item-tile" href="https://tnesi.org">
                <img class="portfolio-item-tile__image" src="/assets/img/tnesi_snapshot.png" alt="Snapshot of TNESI" />
                <div class="portfolio-item-tile__title">TN Emergency Services Initiative</div>
            </a>
        </section>
    </div>
{% endblock body %}
{% block scripts %}
<script src="/assets/js/header_nav_toggle.js"></script>
<script src="/assets/js/header_logo_scroll_shrink.js"></script>
{% endblock scripts %}
